<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: baseLayout('Create - Customers', ~{::#breadcrumb}, ~{::#content})}">
<head>
  <title>Create - Users | JSM - Job Scheduler and Monitoring</title>
</head>
<body class="c-app c-dark-theme">

<div class="c-subheader px-3" id="breadcrumb">
  <!-- Breadcrumb-->
  <ol class="breadcrumb border-0 m-0">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item text-decoration-none"><a th:href="@{/settings/users}">Users</a></li>
    <li class="breadcrumb-item active">Create</li>
    <!-- Breadcrumb Menu-->
  </ol>
</div>

<section id="content">
  <div class="card">
    <div class="card-header">Create User</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12" th:if="${error}">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <form action="#" th:action="@{/settings/users/create}" method="post"
                th:object="${dto}">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control"
                     th:classappend="${#fields.hasErrors('name')? 'is-invalid' : ''}" id="name"
                     aria-describedby="Name" required
                     th:field="*{name}" placeholder="Name">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}">
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" required
                     th:classappend="${#fields.hasErrors('email')? 'is-invalid' : ''}" id="email"
                     aria-describedby="Email"
                     th:field="*{email}" placeholder="Email">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}">
              </div>
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control"
                     th:classappend="${#fields.hasErrors('username')? 'is-invalid' : ''}" id="username"
                     aria-describedby="Username" required
                     th:field="*{username}" placeholder="Username" autocomplete="false">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}"
                   th:errors="*{username}">
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password"
                     th:classappend="${#fields.hasErrors('password')? 'is-invalid' : ''}"
                     aria-describedby="Password" required
                     th:field="*{password}" placeholder="Password" autocomplete="false">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}">
              </div>
            </div>
            <div class="form-group">
              <label for="rePassword">Re-Type Password</label>
              <input type="password" class="form-control" id="rePassword"
                     aria-describedby="Re-type Password"
                     th:classappend="${#fields.hasErrors('password')? 'is-invalid' : ''}" required
                     th:field="*{verifyPassword}" placeholder="Retype Password" autocomplete="false">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
